n = int(input().strip())
p=0
k=[0]*1000000
for a0 in range(n):
    op, contact = input().strip().split(' ')
    if(op=='add'):
        k[p]=contact
        p=p+1
    else:
        q=0
        for i in range(p):
            #print(k[i][0:len(contact)],contact)
            if(k[i][0:len(contact)]==contact):
                q=q+1
        print(q)       
        
